/*
CSS Color Scheme:
#000;
#707070;
#313131;
rgba(255, 195, 198, 0.3);
rgba(244, 218, 233, 0.2)
rgba(255, 195, 198, 0.8);
*/


.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 1.4;
}

/*Navigation*/

.navhead {
    width: 100%;
    height: auto;
    background-color: rgba(255, 195, 198, 0.3);
}

.logo,
.bar {
    width: 100%;
    margin: 0;
    text-align: center;
}

.logo img {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 15%;
}

.bar ul li {
    list-style-type: none;
    cursor: pointer;
}

.bar ul {
    padding-left: 0;
}

.bar ul li:active {
    text-decoration: none;
    color: #000;
}

.bar li:hover:not(.active) {
    color: #707070;
}

.nav1,
.nav2 {
    width: 100%;
    height: 3rem;
    background-color: rgba(244, 218, 233, 0.2);
    box-shadow: 3px 3px 3px 3px #ccc;
    text-align: center;
    border: 0.1px solid #313131;
    margin-bottom: 0.2rem;
    padding-top: 1rem;

}

.active {
    color: #000;
}


/*Article 1*/

.article1 {
    width: 100%;
    height: auto;
}

.article1 h3 {
    text-align: left;
    font-family: 'Lora', serif;
    padding-top: 2rem;
}

.bgimg1 {
    margin: 0;
    text-align: center;
}

.bgimg1 img {
    width: 100%;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*Footer*/

footer {
    width: 100%;
    height: 12rem;
    background-color: rgba(255, 195, 198, 0.8);
}

.so-icon {
    margin: 0;
    text-align: center;
    margin-top: 2rem;
}

.fa-facebook-square,
.fa-linkedin,
.fa-instagram,
.fa-pinterest{
    font-size: 2rem;
    color: #313131;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

/*.fa-facebook-square,
.fa-linkedin,
.fa-instagram,
.fa-pinterest:hover{
    color: #707070;
}*/

.so-icon i:hover{
   color: #707070; 
}

footer a{
    text-decoration: none!important;
}



.info {
    text-align: center;
    margin-top: 2rem;
}

/*Portfolio*/

.port-bgimg h4 {
    color: #fff;
    padding: 3rem;
}

.port-image {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
}

.port-image img {
    width: 100%;
}

/*Tablet*/

@media only screen and (min-width: 35rem) {
    body {
        font-size: 1rem;
    }
    .navhead {
        width: 100%;
        height: 13.5rem;
        background-color: rgba(255, 195, 198, 0.3);
    }

    .logo img {
        max-width: 5%;
    }

    .nav1,
    .nav2 {
        width: 40%;
        float: left;
        height: 3rem;
    }
    .nav1 {
        margin-left: 8%;
    }
    .nav2 {
        margin-left: 4%;
    }


    /*Masthead*/
    .bgimg {
        min-width: 100%;
        height: 20rem;
        margin: 0;
        text-align: center;
        background-image: url("../img/money.jpg");
        background-repeat: no-repeat;

    }

    /*Article 1*/
    .article1 {
        width: 100%;
        height: auto;
    }

    .bgimg1 {
        margin: 0;
        margin-left: -1rem;
        text-align: center;
        max-width: 45%;
        float: left;
    }

    .bgimg1 img {
        max-width: 130%;
    }

    .text {
        max-width: 95%;
    }

    /*Portfolio*/
    .port-image {
        width: 100%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin: 0;
        text-align: center;
    }
    .port-image .img1,
    .port-image .img2 {
        width: 50%;
        float: left;
        margin-top: 2rem;
    }

    .port-image .img3,
    .port-image .img4 {
        width: 50%;
        float: left;
    }

    .port-image .img5,
    .port-image .img6 {
        width: 50%;
        float: left;
        margin-bottom: 1rem;
    }
    footer {
        clear: both;
    }

}

/*Desktop*/

@media only screen and (min-width: 80rem) {

    body {
        font-size: 1.25rem;
    }
    .logo {
        width: 30%;
    }
    .bar {
        width: 70%;
        text-align: center;
    }
    .logo,
    .bar {
        float: left;
    }
    .logo img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 100%;
        padding-left: 40%;
    }

    .navhead {
        padding-top: 2rem;
        height: 8rem;
    }

    .logo img {
        width: 15%;
    }

    .nav1,
    .nav2 {
        width: 30%;
        float: left;
        height: 3rem;
        padding-top: 1rem;
    }
    .nav1 {
        margin-left: -3rem;
    }
    .nav2 {
        margin-left: 4%;
    }

    .bgimg {
        min-width: 100%;
        height: 25rem;
        margin: 0;
        text-align: center;
        background-image: url("../img/money.jpg");
        background-repeat: no-repeat;

    }

    /*Article 1*/
    .article1 {
        width: 100%;
        height: auto;
    }

    .bgimg1 {
        margin: 0;
        text-align: center;
        width: 25%;
    }

    .bgimg1 img {
        width: 110%;
    }

    .text {
        width: 70%;
    }
    .text,
    .bgimg {
        float: left;
    }
    footer {
        clear: both;
    }

    .port-image {
        width: 100%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin: 0;
        text-align: center;
    }
    .port-image .img1,
    .port-image .img2,
    .port-image .img3 {
        width: 33.3%;
        float: left;
        margin-top: 2rem;
    }

    .port-image .img4,
    .port-image .img5,
    .port-image .img6 {
        width: 33.3%;
        float: left;
        margin-bottom: 2rem;
    }

    .port-image img {
        width: 80%;
    }
    footer {
        clear: both;
    }
}
